
body {
    
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    color: whitesmoke;
}
h1 {
    font-size: x-large;
    font-weight: bolder;
}

section {
    max-width: 75%;
}
header, footer {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    color: black;
}
main {
    display: flex;
    justify-content: center;
}
main header {
    color: whitesmoke;
    background-color: black;
}
.main-area {
    /* max-width: 75%; */
    gap: 5px;
    display:grid;
    grid-template-areas:
    "big-picture small-picture-left small-picture-right"
    "big-picture bottom-right bottom-right";
}
figure {
    border-radius: 10px; 
    border:3px solid whitesmoke;
    padding:0px;
}

figcaption {
    background-color: #222222;
    border-radius: 0px 0px 10px 10px;
    padding: 2px;
    margin-top:-6px;
}
img {
    border-radius: 15px 15px 0px 0px;
}

.big-picture {
    grid-area: big-picture;
}
.small-picture-left {
    grid-area: small-picture-left;
}
.small-picture-right {
    grid-area: small-picture-right;
}
.bottom-right {
    grid-area: bottom-right;
}

.red {
    color: #ff385c
}

.internal-header {
    display:flex;
    justify-content: space-between;
    /* max-width: 100%; */
}
.left {
    max-width: 25%;
}
.right {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    max-height: 2em;
    padding: 5px;
    margin-top: 5px;
}